{% extends "archive.twig" %}
{% block header_content %}{% endblock %}
{#
{% block header_content %}
  <header class="contain-sm article-header text-center">
    <h1 class="article-title">{{title}}</h1>
    <p class="meta-upper text-center">Filter by:</p>
  </header>
  <ul class="cat-list -header">
    <li class="cat-list-item">
      <a class="cat-item-link -all" href="{{posts_page_link}}">All Posts</a>
    </li>
    {% for c in cats %}
      {% if c.name != 'Uncategorized' %}
        <li class="cat-list-item">
          <a href="{{c.link}}" class="cat-item-link{{c.name == title ? ' -current' }}">{{c.name}}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}
  <div class="tease-loop-wrap">
  	{% for post in posts %}
  		{% include ['teases/tease-'~post.format~'.twig', 'teases/tease-'~post.post_type~'.twig','teases/tease.twig'] %}
  	{% endfor %}
  </div>
{% endblock %}

{% block footer_content %}

{% endblock %}
 #}
