{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}} post-format-{{post.format}}" id="post-{{post.ID}}">
    <header class="article-header contain-sm text-center">
      <p class="date">{{post.date}}</p>
      <h1 class="article-title">{{post.title}}</h1>
      <p class="article-summary">{{post.post_excerpt}}</p>
    </header>
    <div class="contain-md">
      <img src="{{post.thumbnail.src|resize(700,400,false)}}" alt="{{<post class="thumbnail title"></post>}}">
      {% if post.thumbnail.caption %}
        <p class="caption">{{post.thumbnail.caption}}</p>
      {% endif %}
    </div>
    <section class="article-content">
			{% include 'partials/content-blocks.twig' %}
		</section>
    <footer class="article-footer contain-sm">
      {# TODO: prev next nav here #}
      {# {% if post.previous %}
        {{post.previous.link}}
      {% endif %}
      {% if post.next %}
        {{post.next.link}}
      {% endif %} #}
      {# Social media share #}
      {# Possibly comments #}
    </footer>
	</article>
{% endblock %}
