{% extends "base.twig" %}

{% block content %}

{#   {% for c in post.get_terms('category') %}
  {% include 'utility/svg.twig' with { file: 'rocks-glass', prefix: 'icon' } %}
  {% endfor %}
 #}
	<article class="post-type-{{post.post_type}} post-format-{{post.format}}" id="post-{{post.ID}}">
    <header class="article-header contain-sm text-center">
      <p class="date">{{post.date}}</p>
      <h1 class="article-title">{{post.title}}</h1>
      {% if post.get_terms('category') %}
        <p class="meta">Category:
        {% for c in post.get_terms('category') %}<a href="{{c.link}}">{{c.name}}</a>{{loop.last ? '' : ', '}}
      {% endfor %}
      </p>
      {% endif %}
      <p class="article-summary">{{post.post_excerpt}}</p>
    </header>
    <div class="contain-lg">
      <img src="{{post.thumbnail.src|resize(900,400)}}" alt="{{post.thumbnail.title}}">
      {% if post.thumbnail.caption %}
        <p class="caption">{{post.thumbnail.caption}}</p>
      {% endif %}
    </div>
    <section class="article-content">
			{% include 'partials/content-blocks.twig' %}
		</section>
    <footer class="article-footer contain-sm">
      {# TODO: prev next nav here #}
      {# {% if post.previous %}
        {{post.previous.link}}
      {% endif %}
      {% if post.next %}
        {{post.next.link}}
      {% endif %} #}
      {# Social media share #}
      {# Possibly comments #}
    </footer>
	</article>
{% endblock %}
