{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{post.post_type}} post-format-{{post.format}}" id="post-{{post.ID}}">

    {# <pre>{{dump(post)}}</pre> #}

    <div class="contain-lg">
      {{breadcrumbs}}
    </div>

    <header class="article-header -recipe contain-lg">
      <div class="article-header-inner">
        <div class="article-header-thumb teaser">

          <picture>
            <source data-srcset="{{post.thumbnail.src|resize(400,400)}}" media="(min-width: 840px)">
            <img data-src="{{post.thumbnail.src|resize(600,300)}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="full-image lazyload">
          </picture>

          {% if post.thumbnail.caption %}
            <p class="caption">{{post.thumbnail.caption}}</p>
          {% endif %}

        </div>
        <div class="article-header-info">
          {% if post.get_terms('recipe_type') %}
            <p class="article-header-terms">
              {% for c in post.get_terms('recipe_type') %}<a href="{{c.link}}">{{c.name}}</a>{{loop.last ? '' : ' / '}}{% endfor %}
            </p>
          {% endif %}
          <h1 class="article-title">{{post.title}}</h1>
          {% if post.connected_book %}
            {% set book = TimberPost(post.connected_book) %}
              <p class="credit meta">From <a href="{{book.link}}">{{book.title}}</a> by {{book.book_author}}</p>
          {% endif %}
          <p class="article-summary">{{post.post_excerpt}}</p>
        </div>
      </div>
    </header>

    <section class="article-content contain-lg">
      <div class="article-content-inner">

        <aside class="article-content-aside recipe-section -notes">
          {# <h6>{{book.title}}</h6>
          <p>By {{book.book_author}}</p>
          <p>{{book.post_excerpt}}</p>
 #}
          {% if post.notes %}
            <h5 class="recipe-section-title meta-upper">Notes</h5>
            {{post.notes|wpautop}}
          {% endif %}
          {% if related_recipes %}
            <h5 class="recipe-section-title meta-upper">Related Recipes</h5>
            <ul class="related-recipes">
              {% for r in related_recipes %}
                {% if r.title != post.title %}
                  <li>{{r.title}}</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </aside>

        <div class="article-content-main">
          <div class="recipe-section -ingredients">
            <h5 class="recipe-section-title">Ingredients</h5>
            {{post.ingredients_text|wpautop}}
          </div>
          <div class="recipe-section -directions">
            <h5 class="recipe-section-title">Directions</h5>
            {{post.directions|wpautop}}
          </div>
          {% if post.get_terms('post_tag') %}
            <p class="meta">
              Tagged: {% for c in post.get_terms('post_tag') %}<a href="{{c.link}}">{{c.name}}</a>{{loop.last ? '' : ', '}}{% endfor %}
            </p>
          {% endif %}
        </div>

      </div>
		</section>

    <footer class="article-footer">
      {% include 'partials/prev-next.twig' %}
    </footer>

    {% include 'partials/edit-link.twig' %}

	</article>

{% endblock %}
