{% extends 'teases/tease.twig' %}

{% set type = 'category' %}

{% block tease_info %}

  <a href="{{post.link}}" class="tease-overlay-link">
    <h2 class="tease-title -small">{{post.title}}</h2>
    <p class="meta-upper">By {{post.book_author}}</p>
  </a>

{#   <a class="link-readmore" href="{{post.link}}">Read more...</a><br>
 #}
  {# {% include 'partials/edit-link.twig' %}

  <footer class="tease-footer"> #}
    {# {% if post.get_terms('post_tag') %}
      <p class="meta">Tagged:
      {% for c in post.get_terms('post_tag') %}
        <a class="meta" href="{{c.link}}">{{c.title}}</a>
      {% endfor %}
      </p>
    {% endif %} #}
  {# </footer> #}
{% endblock %}
