
<article class="tease tease-{{post.post_type}}{{class ? ' ' ~ class}}" id="tease-{{post.ID}}">

{% block tease_content %}
  <div class="tease-inner">

    <div class="tease-thumb">
      {% block tease_thumb %}
        <a href="{{post.link}}">
        {% if post.get_thumbnail %}
          {% set img = post.thumbnail %}

          <img
            data-sizes="auto"
            src="{{img.src|resize(50,30)}}"
            data-src="{{img.src|resize(600, 360)}}"
            data-srcset="
                {{img.src|resize(600, 360)}} 600w,
                {{img.src|resize(900, 540)}} 900w"
            class="lazyload full-image" />

        {% else %}
          <img class="tease-thumb-img" src="{{site.theme.link}}/assets/img/svg/placeholder.svg" alt="">
        {% endif %}
        </a>
        {% if post.post_type == 'recipe' %}
          <span class="tease-type">{% if post.get_terms('recipe_type') %}{% for t in post.get_terms('recipe_type') %}{{t.name}}{{loop.last ? '' : ' / '}}{% endfor %}{% endif %}</span>
        {% endif %}
      {% endblock %}
    </div>

    <div class="tease-info">
      {% block tease_info %}

        <header class="tease-header">
          <p class="date">{{post.date}}</p>
          <h2 class="tease-title"><a href="{{post.link}}">{{post.title}}</a></h2>
        </header>

        {% if post.post_excerpt %}
          <p>{{post.post_excerpt}}</p>
          <a class="link-readmore meta" href="{{post.link}}">Read more...</a>
        {% endif %}

        {% include 'partials/edit-link.twig' %}

        <footer class="tease-footer">
          {% if post.get_terms('category') %}
            <p class="meta">Filed under:
            {% for c in post.get_terms('category') %}
              <a class="meta" href="{{c.link}}">{{c.title}}</a>
            {% endfor %}
            </p>
          {% endif %}
        </footer>

      {% endblock %}

    </div>
  </div>
{% endblock %}

</article>

