{% extends 'blocks/base.twig' %}

{% block block_content %}

  {% for elem in block.elements %}
      {% if elem.acf_fc_layout == 'text' %}
        {{elem.text}}
      {% elseif elem.acf_fc_layout == 'image' %}
        {% set img = TimberImage(elem.image) %}
        <div class="inline-image {{elem.alignment}}">
          <img src="{{img.src}}" alt="{{img.alt}}">
        {% if img.caption %}<p class="caption">{{img.caption}}</p>{% endif %}
        </div>
      {% endif %}
  {% endfor %}

{% endblock %}
